@import "./variables";
@import "./breakpoints";

.dg-page-car {
  .dg-header {
    background: url(../assets/images/car-1.png) no-repeat;
    background-size: cover;
    background-position: center bottom;

    header.sticky {
      background: url("../assets/images/car-header-bg.png") no-repeat;
      background-size: inherit;
      background-position: center center;
      box-shadow: $box-shadow;
    }
  }

  .dg-hero {
    padding-top: 30px;
    &__wrap {
      padding-bottom: 60px;
    }

    input {
      &[type="checkbox"],
      &[type="radio"] {
        accent-color: $white-color;
      }
    }
    input,
    select {
      background-color: transparent;
    }

    .dg-input-wrap .input-inner {
      .input-icon {
        background-color: transparent;
      }

      input,
      select,
      textarea {
        color: $white-color;
      }

      legend {
        color: $text-disabled;
      }

      fieldset {
        input,
        select,
        textarea {
          border-width: 0;
        }
      }

      input[type="radio"]:not(:checked)::after {
        content: "";
        top: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scale(0.7);
        border-radius: 50%;
        background-color: #25252599;
        backdrop-filter: blur(27.1828px);
      }
    }
    &__form {
      background-color: #25252599;
      backdrop-filter: blur(27.1828px);
      color: #fff;

      &-title {
        h2 {
          color: inherit;
        }
      }

      label {
        color: $text-disabled;
        background-color: transparent;
      }

      &-actions .benefit-detail {
        color: inherit;
      }
    }
  }

}

@include min-lg {
  .dg-page-car {
    .dg-hero {
      padding-top: 75px;
      &__wrap {
        padding-bottom: 135px;
      }
    }

    .dg-information {
      background-image: url(../assets/images/car-2.png);
      background-repeat: no-repeat;
      background-size: 65%;
      background-position: 120% center;
    }
  }
}

@include min-lg {
  .dg-page-car {
    .dg-information {
      .dg-information {
        background-size: cover;
        background-position: right center;
      }
    }
  }
}
