@import "./variables";
@import "./breakpoints";

.dg {
  &-container {
    max-width: $max-width;
    margin: 0 auto;

    padding-right: 8px;
    padding-left: 8px;
  }
  &-btn {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 48px;
    border-radius: 8px;
    // padding: 11px 22px;
    // font-size: 16px;
    font-weight: 700;
    outline: 0px;
    border: 0px;
    vertical-align: middle;
    appearance: none;
    cursor: pointer;
    color: #151452;
    border: $border-width solid $border-color;

    padding: 6px 14px;
    font-size: 14px;

    &.secondary {
      background-color: $bg-color;
    }

    &.primary {
      background-color: $primary-color;
      color: $white-color;
      border-color: $primary-color;
    }

    &.full {
      width: 100%;
    }

    &.plain {
      padding: 5px;
      padding-left: 0;
      border: none;
      height: unset;
      background-color: transparent;
      color: #091a7a;
    }
  }

  &-input-wrap {
    display: flex;
    width: 100%;
    // flex-direction: row;
    // align-items: center;

    gap: 16px;
    flex-direction: column;
    align-items: flex-start;

    .input-inner {
      display: flex;
      align-items: center;
      position: relative;
      flex-grow: 1;

      // width: 50%;
      width: 100%;

      &:has(input[type="checkbox"]) {
        align-items: flex-start;
        margin-top: 8px;
      }

      .input-icon {
        position: absolute;
        right: 14px;
        z-index: 1;
        background: $bg-color;
        pointer-events: none;
        cursor: pointer;
      }

      label {
        background-color: $white-color;
      }

      &:not(:has(fieldset)) {
        input,
        select,
        textarea {
          border: 1px solid #919eab52;
          padding: 14px;
          color: $text-subdued;
          &:focus {
            outline: 2px solid $primary-color;
          }
        }
      }
    }

    &:has(input[type="radio"]) {
      // gap: 32px;

      gap: 16px;
    }

    &:has(input[type="text"]),
    &:has(input[type="date"]),
    &:has(select),
    &:has(textarea) {
      column-gap: 16px;

      label {
        font-weight: 400;
        line-height: 13px;
        z-index: 1;
        position: absolute;
        top: -6px;
        left: 16px;
        padding-left: 2px;
        padding-right: 3px;

        // font-size: 14px;
        font-size: 13px;
      }

      input,
      select,
      textarea {
        font-weight: 400;
        font-size: 14px;
        border-radius: 8px;
        width: 100%;
        outline: 0;
        appearance: none;
        -webkit-appearance: none;

        // font-size: 14px;
        // line-height: 24px;
        font-size: 13px;
        line-height: 18px;
      }
    }
  }

  &-layout {
    display: flex;
    gap: 24px;
    // flex-direction: row;

    flex-direction: column;
    &.vertical {
      flex-direction: column;
    }

    &__item {
      flex-grow: 1;

      &.secondary {
        // max-width: 35.4%;

        max-width: 100%;
        width: 100%;
      }
    }

    + .dg-layout {
      margin-bottom: 24px;
    }
  }

  &-section__title {
    font-weight: 700;
    color: $text-subdued;
    // font-size: 32px;
    // line-height: 48px;

    font-size: 24px;
    line-height: 36px;
  }

  &-actions-group {
    width: 100%;
    display: flex;
    gap: 8px;
    flex-direction: row;

    &.vertical {
      flex-direction: column;
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $bg-color;
    box-shadow: 0px 0px 2px #919eab33, 0px 12px 24px -4px #919eab1f;
    flex-grow: 1;

    // border-radius: 16px;
    border-radius: 8px;
    &__title {
      border-bottom: 1px solid #919eab3d;
      width: 100%;

      // padding: 20px 24px;
      padding: 14px 16px;
      h3 {
        font-weight: 700;
        line-height: 28px;
        color: $text-subdued;

        // font-size: 18px;
        font-size: 16px;
      }

      &:has(.action) {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .action {
          cursor: pointer;
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 24px;
      width: 100%;

      // padding: 24px;
      padding: 16px;

      &.p-0 {
        padding: 0;
      }

      &-item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        column-gap: 16px;
        width: 100%;

        .content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          row-gap: 8px;

          .label {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: $text-color;
          }

          .description {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: $text-disabled;
          }

          a {
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            color: $secondary-color;
          }
        }
      }
    }

    &__footer {
      border-top: $border-base;
      width: 100%;

      // padding: 24px;
      padding: 16px;
      h4 {
        font-weight: 600;
        line-height: 24px;
        color: $text-color;

        // font-size: 16px;
        font-size: 14px;
      }

      p,
      ul {
        line-height: 20px;
        font-weight: 400;
        color: $text-subdued;

        // font-size: 13px;
        font-size: 12px;
      }

      ul {
        padding-left: 16px;
        list-style-type: disc;
        margin-left: 8px;
      }
    }
  }

  &-upload {
    background-color: #fff;
    border: 1px dashed #dfe3e8;
    border-radius: 8px;
    width: 100%;

    &__inner {
      display: flex;
      flex-direction: row;
      align-items: center;

      // padding: 20px 25px;
      padding: 10px 15px;

      &-img {
        background: url("../assets/images/upload.png") no-repeat;
        background-size: cover;
        background-position: center center;

        // width: 168px;
        // height: 168px;
        width: 110px;
        height: 110px;
      }
      &-control {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 8px;

        // margin-left: 80px;
        margin-left: 40px;
        .label {
          font-weight: 600;
          line-height: 24px;
          color: $text-subdued;

          // font-size: 16px;
          font-size: 14px;
        }

        small {
          color: $text-disabled;
          font-weight: 300;

          font-size: 12px;
        }

        &-text-wrap {
          max-width: 345px;
        }

        &-text {
          font-weight: 400;
          line-height: 22px;
          color: $icon-color;

          // font-size: 14px;
          font-size: 13px;
        }

        .dg-upload__input {
          width: 50px;

          &::-webkit-file-upload-button {
            visibility: hidden;
          }
          &::before {
            content: "Tải lên";
            display: inline-block;
            background: linear-gradient(top, #f9f9f9, #e3e3e3);
            outline: none;
            white-space: nowrap;
            user-select: none;
            cursor: pointer;
            font-weight: 500;
            font-size: 10pt;
            color: $primary-color;
            border-bottom: 1px solid $primary-color;
            padding-left: 1px;
            padding-right: 3px;
            margin-left: 2px;
          }
          &:active {
            outline: 0;
          }
        }
      }
    }
  }

  &-customer-info {
    // padding-top: 40px;
    // padding-bottom: 40px;

    padding-top: 25px;
    padding-bottom: 25px;
    .dg-layout {
      margin-top: 20px;
    }

    .dg-layout__item.secondary {
      .dg-card__content-item {
        &:not(:last-child) {
          border-bottom: $border-base;
          padding-bottom: 16px;
        }
        &.total-price {
          .label {
            text-transform: uppercase;

            // font-size: 16px;
            font-size: 13px;
          }

          .value {
            // font-size: 32px;
            // line-height: 40px;

            font-size: 22px;
            line-height: 30px;
          }
        }
      }

      .commit {
        margin-top: 24px;
        margin-bottom: 24px;
        display: flex;
        align-items: flex-start;

        input {
          margin-top: 7px;
          margin-right: 15px;
        }
        a {
          text-decoration: underline;
          color: $primary-color;
        }
      }
      .dg-input-wrap {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 8px;

        .label {
          font-weight: 400;
          line-height: 22px;
          color: $text-color;

          // font-size: 14px;
          font-size: 13px;
        }

        .value {
          font-weight: 700;
          color: $primary-color;

          // line-height: 30px;
          // font-size: 20px;
          line-height: 24px;
          font-size: 16px;
        }

        .input-inner {
          width: 100%;

          &:has(.action) {
            .label {
              top: -11px;
            }
          }
          .action {
            position: absolute;
            right: 12px;
            button {
              padding: 6px 16px;
              height: 36px;
            }
          }
        }
      }
    }
  }
  &-registers {
    background-color: $bg-color;
    padding-top: 30px;

    &__wrap {
      padding-bottom: 60px;
      padding-top: 20px;
    }
  }
  &-questions {
    background-color: $bg-secondary;

    // padding-top: 50px;
    // padding-bottom: 40px;
    padding-top: 25px;
    padding-bottom: 25px;

    &__wrap {
      display: flex;
      width: 100%;
      justify-content: space-between;

      // flex-direction: row;
      // margin-top: 50px;
      margin-top: 15px;
      flex-direction: column;
      row-gap: 16px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transition: padding-top 1s cubic-bezier(0.075, 0.82, 0.165, 1),
        padding-bottom 1s cubic-bezier(0.075, 0.82, 0.165, 1);

      // max-width: 47%;
      max-width: 100%;
      &-item {
        width: 100%;

        &:has(details[open]) {
          &:not(:first-child) {
            padding-top: 16px;
          }

          &:not(:last-child) {
            padding-bottom: 16px;
          }
        }

        &:not(:last-child) {
          border-bottom: $border-base;
        }

        details {
          border-radius: 8px;
          background-color: inherit;
          transition: display 1s cubic-bezier(0.075, 0.82, 0.165, 1),
            box-shadow 1s cubic-bezier(0.075, 0.82, 0.165, 1),
            background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);

          svg {
            animation-name: rotate-down;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            display: inline-block;
            min-width: 15px;
          }

          &[open] {
            background-color: $bg-color;
            box-shadow: 0px 20px 40px -4px #919eab29;

            svg {
              animation-name: rotate-up;
            }
          }
        }

        summary {
          font-weight: 600;
          line-height: 24px;
          color: $text-subdued;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
          column-gap: 16px;

          // padding: 20px 10px 20px 16px;
          // font-size: 16px;
          font-size: 14px;
          padding: 14px 7px 14px 11px;
          &::marker {
            content: none;
          }
        }

        .description {
          font-weight: 400;
          line-height: 24px;
          color: $text-subdued;

          // font-size: 16px;
          // padding: 8px 16px 16px;
          font-size: 14px;
          padding: 6px 10px 10px;
        }
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;

      // width: 47%;
      width: 100%;
      &-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        // gap: 24px;
        gap: 16px;
      }
    }

    &__action {
      width: 100%;
    }
  }

  &-information {
    background-color: #f9fafb;
    &__wrap {
      max-width: 650px;
      display: flex;
      flex-direction: column;
      row-gap: 24px;

      // padding-top: 70px;
      // padding-bottom: 60px;
      row-gap: 14px;
      padding-top: 30px;
      padding-bottom: 25px;

      h2 {
        color: $text-color;
        font-weight: 700;
        // line-height: 64px;
        // font-size: 44px;

        line-height: 40px;
        font-size: 26px;
      }

      .sub-title {
        font-weight: 400;
        color: $text-subdued;
        // font-size: 16px;
        // line-height: 24px;

        font-size: 14px;
        line-height: 22px;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      max-width: 555px;
      // margin-top: 10px;

      &-item {
        display: flex;
        flex-direction: row;
        column-gap: 16px;
        align-items: flex-start;

        // padding: 24px 0;
        padding: 14px 0;
      }

      &-label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 8px;

        .label {
          display: inline-block;
          font-weight: 700;
          font-size: 20px;
          line-height: 30px;
          color: $text-color;
        }

        .description {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: $text-subdued;
        }
      }
    }
  }

  &-hero {
    // padding-top: 65px;
    padding-top: 40px;
    &__wrap {
      position: relative;
      // padding-top: 88px;
      // padding-bottom: 125px;

      padding-bottom: 60px;
      padding-top: 90px;
    }

    .dg-container {
      display: flex;
      justify-content: space-between;

      // flex-direction: row;
      flex-direction: column;
      gap: 24px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 439px;
      z-index: 1;

      // margin-top: 30px;
      margin-top: 15px;
      .dg-btn {
        // margin-top: 65px;
        margin-top: 35px;
      }

      &-title {
        font-weight: 700;
        line-height: 36px;
        color: $white-color;

        // font-size: 24px;
        font-size: 18px;
      }
      &-description {
        font-family: "Inter";
        font-weight: 700;
        color: $white-color;
        text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
        // font-size: 56px;
        // line-height: 68px;
        font-size: 38px;
        line-height: 50px;
      }

      &-sub-title {
        font-weight: 400;
        line-height: 28px;
        color: $white-color;

        // font-size: 18px;
        font-size: 14px;
      }
    }
    &__form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: $bg-color;
      border-radius: 16px;
      box-shadow: $box-shadow;

      // width: 621px;
      width: 100%;

      &-title {
        width: 100%;
        border-bottom: $border-base;

        h2 {
          width: 100%;
          font-weight: 700;
          color: $text-subdued;
          // font-size: 18px;
          // padding: 16px 18px 23px;
          // line-height: 28px;

          padding: 10px 12px 16px;
          font-size: 16px;
          line-height: 20px;
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        // padding: 24px;
        // gap: 24px;

        padding: 16px;
        gap: 16px;
      }

      .input-wrap {
        &.type {
          margin-bottom: 7px;
          margin-top: 7px;
        }

        &.confirm {
          margin-bottom: 6px;
        }
      }

      &-actions {
        display: flex;
        width: 100%;
        gap: 16px;
        // flex-direction: row;
        // align-items: center;

        flex-direction: column;
        align-items: flex-start;

        .dg-btn {
          width: 100%;
        }

        .benefit-detail {
          min-width: calc(50% - 8px);
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          column-gap: 10px;
          align-items: center;
          color: $text-subdued;

          svg {
            color: $icon-color;
          }
        }
      }
    }
  }

  &-backdrop {
    position: fixed;
    z-index: 518;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-color: #00000080;
    animation: fade-in 200ms 1 forwards;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: opacity;
  }

  &-modal {
    &__wrap {
      position: fixed;
      z-index: 519;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      pointer-events: none;
    }

    &__inner {
      pointer-events: auto;
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-height: calc(100vh - 100px);
      background: $white-color;
      box-shadow: -40px 40px 80px -8px #919eab3d;
      justify-content: center;
      position: relative;
      max-width: 900px;
      margin: 0 auto;
      border-radius: 16px;
    }

    &__content {
      width: 100%;
      overflow-x: hidden;

      > .dg-card__content {
        overflow-y: scroll;
        overflow-x: scroll;
      }
    }

    .dg-card__content {
      .dg-card {
        width: 100%;
        &__title {
          padding: 12px 16px;
          h3 {
            font-size: 15px;
            line-height: 22px;
            font-weight: 600;
          }
        }
      }

      &.section {
        row-gap: 16px;
        .dg-card__title {
          p {
            color: #212b36;
          }
        }
        .dg-card__content-item + .dg-card__content-item {
          padding-top: 16px;
          border-top: $border-base;
        }

        ul,
        ol {
          padding: 0;
          margin: 0;
          padding-left: 16px;
          display: flex;
          flex-direction: column;
          row-gap: 8px;

          li {
            font-size: 14px;
            line-height: 24px;
            color: #000;
          }
        }

        span,
        p {
          font-size: 14px;
          line-height: 24px;
        }

        p {
          color: $icon-color;
        }

        .label {
          margin-bottom: 3px;
          display: inline-block;
        }
      }
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    thead {
      background-color: #f4f6f8;
    }

    td {
      padding: 16px;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: $icon-color;
    }
  }
}

.icon-wrap {
  display: none;
  // TODO:
}

.required::after {
  content: "*";
  color: #ff5630;
  margin-left: 5px;
}

fieldset {
  border: 1px solid #919eab52;
  border-radius: 8px;
  width: 100%;
  padding: 12px 14px;
  position: relative;

  &:has(input:focus),
  &:has(select:focus) {
    border-color: $white-color;
  }
}

legend {
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  padding: 0 3px;
  margin-left: 7px;
}

button[disabled] {
  background-color: $border-color !important;
  border-color: $border-color !important;
  cursor: not-allowed;
}

input {
  cursor: pointer;
  &[type="date"] {
    &::-webkit-calendar-picker-indicator {
      background: transparent;
      bottom: 0;
      color: transparent;
      cursor: pointer;
      height: auto;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
    }
  }

  &[type="checkbox"],
  &[type="radio"] {
    accent-color: $primary-color;
    margin-right: 10px;
    margin-left: 3px;

    &:focus {
      outline: none !important;
    }
  }

  &[type="radio"] {
    transform: scale(1.54);
  }
  &[type="checkbox"] {
    transform: scale(1.4);

    // TODO:
    margin-top: 6px;
  }

  + label {
    cursor: pointer;
    font-size: $font-base;
    font-weight: 400;
    line-height: 22px;
    color: $text-subdued;
    display: inline-block;
  }
}

html {
  scroll-behavior: smooth;
}

svg {
  color: $icon-color;
}

a {
  color: inherit;
}

/* Responsive */
@include min-md {
  .icon-wrap {
    display: block;
  }
}

@include min-lg {
  .dg {
    &-container {
      padding-left: 0;
      padding-right: 0;
    }

    &-btn {
      padding: 11px 22px;
      font-size: 16px;
    }

    &-input-wrap {
      flex-direction: row;
      align-items: center;

      .input-inner {
        width: 50%;
      }

      &:has(input[type="radio"]) {
        gap: 32px;
      }

      &:has(input[type="text"]),
      &:has(input[type="date"]),
      &:has(select),
      &:has(textarea) {
        label {
          font-size: 13px;
        }

        input,
        select,
        textarea {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }

    &-layout {
      flex-direction: row;

      &__item.secondary {
        max-width: 35.4%;
      }
    }

    &-section__title {
      font-size: 32px;
      line-height: 48px;
    }

    &-card {
      border-radius: 8px;

      &__title {
        padding: 20px 24px;

        h3 {
          font-size: 18px;
        }
      }

      &__content {
        padding: 16px;
      }

      &__footer {
        padding: 24px;

        h4 {
          font-size: 16px;
        }

        p,
        ul {
          font-size: 13px;
        }
      }
    }

    &-upload {
      &__inner {
        padding: 20px 25px;

        &-img {
          width: 168px;
          height: 168px;
        }

        &-control {
          margin-left: 80px;

          .label {
            font-size: 16px;
          }

          small {
            font-size: unset;
          }

          &-text {
            font-size: 14px;
          }
        }
      }
    }

    &-customer-info {
      padding-top: 40px;
      padding-bottom: 40px;

      .dg-layout__item.secondary {
        .dg-card__content-item {
          &.total-price {
            .label {
              font-size: 16px;
            }

            .value {
              font-size: 32px;
              line-height: 40px;
            }
          }
        }
        .dg-input-wrap {
          .label {
            font-size: 14px;
          }

          .value {
            line-height: 30px;
            font-size: 20px;
          }
        }
      }
    }

    &-questions {
      padding-top: 25px;
      padding-bottom: 25px;

      &__wrap {
        flex-direction: row;
        margin-top: 50px;
      }

      &__info {
        max-width: 47%;

        &-item {
          summary {
            padding: 20px 10px 20px 16px;
            font-size: 14px;
          }

          .description {
            font-size: 16px;
            padding: 8px 16px 16px;
          }
        }
      }

      &__form {
        width: 47%;

        &-wrap {
          gap: 24px;
        }
      }

      &__action {
        width: unset;
      }
    }

    &-information {
      &__wrap {
        row-gap: 24px;
        padding-top: 30px;
        padding-bottom: 25px;

        h2 {
          font-size: 44px;
          line-height: 64px;
        }

        .sub-title {
          font-size: 16px;
          line-height: 24px;
        }
      }

      &__content {
        margin-top: 10px;

        &-item {
          padding: 14px 0;
        }
      }
    }

    &-hero {
      padding-top: 40px;

      &__wrap {
        padding-top: 88px;
        padding-bottom: 125px;
      }

      .dg-container {
        flex-direction: row;
      }

      &__info {
        margin-top: 30px;

        .dg-btn {
          margin-top: 65px;
        }

        &-title {
          font-size: 24px;
        }

        &-description {
          font-size: 56px;
          line-height: 68px;
        }

        &-sub-title {
          font-size: 14px;
        }
      }

      &__form {
        width: 100%;

        &-title h2 {
          padding: 16px 18px 23px;
          font-size: 18px;
          line-height: 28px;
        }

        &-content {
          padding: 24px;
          gap: 24px;
        }

        &-actions {
          flex-direction: row;
          align-items: center;
        }
      }
    }
  }
}

@keyframes rotate-up {
  to {
    transform: rotate(180deg);
  }
  from {
    transform: rotate(0deg);
  }
}

@keyframes rotate-down {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(180deg);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
