@import "./variables";
@import "./breakpoints";

footer {
  background-color: $bg-color;
}

.dg-footer {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
    // flex-direction: row;
    // padding-bottom: 25px;
    // padding-top: 80px;

    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
    h3 {
      font-weight: 700;
      text-transform: uppercase;
      color: $text-subdued;

      // font-size: 13px;
      // line-height: 18px;
      font-size: 12px;
      line-height: 15px;
    }

    &-links,
    &-resources,
    &-contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      // row-gap: 20px;

      width: 100%;
      gap: 10px;
      &-inner {
        display: flex;
        flex-direction: column;
        align-items: self-start;

        // row-gap: 16px;
        row-gap: 8px;
      }
      &-item {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $text-subdued;
      }
    }

    // TODO:
    // &-links {
    //   width: 10.7%;
    // }

    // &-resources {
    //   width: 18.7%;
    // }

    // &-contacts {
    //   width: 24.56%;
    // }

    // &-links,
    // &-resources,
    // &-contacts {
    //   display: flex;
    //   flex-direction: column;
    //   align-items: flex-start;
    //   // row-gap: 20px;

    //   width: 100%;
    //   gap: 10px;
    // }

    &-site {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      // row-gap: 40px;
      // max-width: 32.1%;

      gap: 16px;
      max-width: 100%;

      .logo {
        width: 104px;
        height: 40px;
        object-fit: cover;
      }
      .bio {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $text-subdued;
      }

      .social-wrap {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        a {
          display: inline-block;
          padding: 8px;
        }
      }
    }
  }
  &__info {
    display: flex;
    align-items: flex-start;
    border-top: $border-base;

    // gap: 24px;
    // flex-direction: row;
    // padding: 24px 0;
    padding: 16px 0;
    gap: 16px;
    flex-direction: column;
    p {
      font-weight: 400;
      line-height: 22px;
      color: $text-subdued;
      font-style: normal;

      // font-size: 14px;
      font-size: 13px;
      // + p {
      // border-left: $border-base;
      // padding-left: 24px;
      // }
    }

    &-policy {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;

      // flex-direction: row;
      // gap: 24px;
      // align-items: center;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }
}

@include min-lg {
  .dg-footer {
    &__content {
      flex-direction: row;
      padding-bottom: 25px;
      padding-top: 80px;

      h3 {
        font-size: 13px;
        line-height: 18px;
      }

      &-links,
      &-resources,
      &-contacts {
        width: 100%;
        gap: 20px;
        &-inner {
          row-gap: 16px;
        }
      }

      &-links {
        width: 10.7%;
      }

      &-resources {
        width: 18.7%;
      }

      &-contacts {
        width: 24.56%;
      }

      &-site {
        gap: 40px;
        max-width: 32.1%;
      }
    }

    &__info {
      gap: 24px;
      flex-direction: row;
      padding: 24px 0;

      p {
        font-size: 14px;

        + p {
          border-left: $border-base;
          padding-left: 24px;
        }
      }

      &-policy {
        flex-direction: row;
        gap: 24px;
        align-items: center;
      }
    }
  }
}
