@import "./variables";
@import "./breakpoints";

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 512;
  height: 96px;
}

.dg-header {
  &__wrap {
    display: flex;
    align-items: center;
    background-color: transparent;

    flex-direction: column;
    gap: 8px;
    padding-top: 8px;
    padding-bottom: 8px;

    nav {
      flex-grow: 1;
    }
  }

  &__logo {
    max-width: 116px;
    height: 45px;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 40px;
    height: 22px;

    &-item {
      font-weight: 600;
      font-size: $font-base;
      line-height: 22px;
      color: $white-color;
    }
  }
}

@include min-lg {
  header {
    height: 88px;
  }

  .dg-header {
    &__wrap {
      flex-direction: row;
      padding-top: 14px;
      padding-bottom: 14px;
    }

    &__logo {
      max-width: 155px;
      height: 45px;
    }
  }
}

.curtain-up {
  animation-name: curtaiUp;
}

.nav-curtain {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background: #9a7c6a;
  border-radius: 50%;
  transform: translateY(100%) scale(0);
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes curtainUp {
  0% {
    border-radius: 50%;
    transform: translateY(100%) scale(1);
    visibility: visible;
    opacity: 1;
  }

  50% {
    border-radius: 50%;
  }
  100% {
    transform: translateY(0%) scale(3, 1);
    visibility: visible;
    opacity: 1;
    border-radius: 0;
  }
}

@keyframes curtainDown {
  0% {
    border-radius: 0;
    transform: translateY(0%) scale(3, 1);
    opacity: 1;
    visibility: visible;
  }

  50% {
    opacity: 1;
    visibility: visible;
    border-radius: 50%;
  }

  99% {
    transform: translateY(100%) scale(0);
    visibility: visible;
    opacity: 1;
  }

  100% {
    transform: translateY(100%) scale(0);
    opacity: 0;
    visibility: hidden;
  }
}
