$max-width: 1140px;

$white-color: #fff;
$bg-color: #fff;
$bg-secondary: #919eab14;

$primary-color: #1C0EC5;
$secondary-color: #091A7A;
$text-color: #000;
$text-subdued: #212B36;
$text-disabled: #919EAB;
$font-base: 14px;

$icon-color: #637381;

// Border
$border-color: #919eab3d;
$border-width: 1px;
$border-base: $border-width solid $border-color;

$box-shadow: 0px 0px 2px rgba(145, 158, 171, 0.2), 0px 12px 24px -4px rgba(145, 158, 171, 0.12);
$box-shadow2: 0px 20px 40px -4px rgba(145, 158, 171, 0.16);
