@import "./variables.scss";

.dg-page-bike {
  .dg-hero {
    padding-top: 65px;
    &__wrap {
      padding-bottom: 125px;
      position: relative;
      background-color: #232271;
      padding-top: 88px;
    }
    &__background {
      background: url(../../assets/images/bike-1.png) no-repeat;
      position: absolute;
      width: 745px;
      height: 745px;
      top: 70px;
      background-size: 90%;
    }

    .dg-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 439px;
      margin-top: 30px;
      z-index: 1;

      .dg-btn {
        margin-top: 65px;
      }

      &-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: $white-color;
      }
      &-description {
        font-family: "Inter";
        font-weight: 700;
        font-size: 56px;
        line-height: 68px;
        color: $white-color;
        text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
      }

      &-sub-title {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: $white-color;
      }
    }
    &__form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: $bg-color;
      border-radius: 16px;
      box-shadow: $box-shadow;
      width: 621px;

      &-title {
        width: 100%;
        border-bottom: $border-base;

        h2 {
          padding: 16px 18px 23px;
          font-size: 18px;
          font-weight: 700;
          color: $text-subdued;
          width: 100%;
          line-height: 28px;
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px;
        gap: 24px;
        width: 100%;
      }

      .input-wrap {
        &.type {
          margin-bottom: 7px;
          margin-top: 7px;
        }

        &.confirm {
          margin-bottom: 6px;
        }
      }

      &-actions {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 16px;
        align-items: center;

        .dg-btn {
          width: 100%;
        }

        .benefit-detail {
          min-width: calc(50% - 8px);
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          column-gap: 10px;
          align-items: center;
          color: $text-subdued;

          svg {
            color: $icon-color;
          }
        }
      }
    }
  }

  .dg-information {
    background-color: #f9fafb;
    background-image: url(../../assets/images/bike-3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 80% center;
    &__wrap {
      max-width: 650px;
      padding-bottom: 60px;
      padding-top: 70px;
      h2 {
        font-size: 44px;
        color: $text-color;
        line-height: 64px;
        font-weight: 700;
      }

      .sub-title {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $text-subdued;
      }
    }

    &__content {
      margin-top: 35px;
      display: flex;
      flex-direction: column;
      max-width: 555px;

      &-item {
        display: flex;
        flex-direction: row;
        column-gap: 16px;
        padding: 24px 0;
        align-items: flex-start;
      }

      &-label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 8px;

        .label {
          display: inline-block;
          font-weight: 700;
          font-size: 20px;
          line-height: 30px;
          color: $text-color;
        }

        .description {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: $text-subdued;
        }
      }
    }
  }

  .dg-registers {
    background-color: $bg-color;
    padding-top: 30px;

    &__wrap {
      padding-bottom: 60px;
      padding-top: 20px;
    }
  }

  .dg-questions {
    background-color: $bg-secondary;
    padding-top: 50px;
    padding-bottom: 40px;

    h2 {
      font-weight: 700;
      font-size: 32px;
      line-height: 48px;
      color: $text-subdued;
    }

    &__wrap {
      margin-top: 50px;
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 47%;

      transition: padding-top 1s cubic-bezier(0.075, 0.82, 0.165, 1),
        padding-bottom 1s cubic-bezier(0.075, 0.82, 0.165, 1);

      &-item {
        width: 100%;

        &:has(details[open]) {
          &:not(:first-child) {
            padding-top: 16px;
          }

          &:not(:last-child) {
            padding-bottom: 16px;
          }
        }

        &:not(:last-child) {
          border-bottom: $border-base;
        }

        details {
          border-radius: 8px;
          background-color: inherit;
          transition: display 1s cubic-bezier(0.075, 0.82, 0.165, 1),
            box-shadow 1s cubic-bezier(0.075, 0.82, 0.165, 1),
            background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);

          svg {
            animation-name: rotate-down;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            display: inline-block;
            min-width: 15px;
          }

          &[open] {
            background-color: $bg-color;
            box-shadow: 0px 20px 40px -4px #919eab29;

            svg {
              animation-name: rotate-up;
            }
          }
        }

        summary {
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: $text-subdued;
          padding: 20px 10px 20px 16px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
          column-gap: 16px;

          &::marker {
            content: none;
          }
        }

        .description {
          padding: 8px 16px 16px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: $text-subdued;
        }
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      width: 47%;

      h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: $text-subdued;
      }

      &-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
      }
    }
  }
}

@keyframes rotate-up {
  to {
    transform: rotate(180deg);
  }
  from {
    transform: rotate(0deg);
  }
}

@keyframes rotate-down {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(180deg);
  }
}

/**
  <details style="
    width: 500px;
" open="">
    
        <summary>
    <span>Lorem something</span>
    <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg" style="
    transition: rotate 2s ease-in-out;
">
<path d="M7.0003 7.50128C6.76665 7.50173 6.54021 7.42036 6.3603 7.27128L0.360298 2.27128C-0.0649608 1.91781 -0.123164 1.28653 0.230298 0.861275C0.583761 0.436016 1.21504 0.377813 1.6403 0.731275L7.0003 5.21128L12.3603 0.891275C12.5669 0.723505 12.8318 0.645006 13.0965 0.673159C13.3611 0.701313 13.6036 0.833795 13.7703 1.04128C13.9554 1.24913 14.0456 1.52475 14.019 1.80183C13.9924 2.07892 13.8516 2.33238 13.6303 2.50128L7.6303 7.33127C7.44521 7.45679 7.2234 7.51665 7.0003 7.50128Z" fill="#637381"></path>
</svg>
</summary>
    <div>Lorem something wrent wrong!</div>
    </details>



    summary {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

svg {

transform: rotate(180deg);

}



*/
