@import "./variables.scss";

header {
  position: fixed;
  top: 0;
  height: 88px;
  width: 100%;
  z-index: 512;
}

.dg-header {
  &__wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: transparent;

    nav {
      flex-grow: 1;
    }
  }

  &__logo {
    max-width: 155px;
    height: 60px;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 40px;
    height: 22px;

    &-item {
      font-weight: 600;
      font-size: $font-base;
      line-height: 22px;
      color: $white-color;
    }
  }
}
